<form [formGroup]="myForm">
  <div *ngFor="let category of categoryList" class="field-checkbox">
    <p-checkbox
      [formControl]="myForm.controls.selectedCategory"
      [value]="category"
      [inputId]="category.value"
      (onChange)="changeCheckbox()"
    ></p-checkbox>
    <label [for]="category.value">{{ category.label }}</label>
  </div>
  <button
    pButton
    type="button"
    label="Select All"
    (click)="selectAll()"
    class="mr-2"
  ></button>
  <button
    pButton
    type="button"
    label="Deselect All"
    (click)="deselectAll()"
  ></button>
</form>
